.container {
    max-width: 800px;
    margin: 0 auto;
}

.pokemon-card {
    cursor: pointer;
}

.modal-body img {
    max-width: 100%;
}

@media (min-width: 576px) {
    .pokemon-card {
        flex: 0 0 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
    }
}
